{% extends 'userApp/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container mt-5 pt-5">
        <h2>Here is a register</h2>
        {% if messages %}
            
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
        
{% endif %}
            
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_user | crispy}}
        {{form_profile | crispy}}
       
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
        <br><br><br>
    </form>
    </div>
    
    
{% endblock content %}
    